/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

img {
  max-width: 150px;
}

h3 {
  text-align: center;
}

.card {
  width: 10.625rem;
  margin: 1.5vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container #btn {
  margin: 50px 0;
  padding: 15px 25px;
  background-color: #474747;
  border: #222;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.btn-container #btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.output-cointainer {
  width: 100%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-cointainer h1 {
  color: #fff;
}

.output-cointainer #output {
  width: 80%;
  margin-top: 25px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
}
