/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: #333;
}

.card {
  width: 90%;
  margin: 1.5vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}